{% extends 'global/base.html' %}
{% load static %}
{% block 'head' %}
 
{% endblock 'head' %}

{% block 'titulo' %}Filme{% endblock 'titulo' %}

{% block 'conteudo' %}

<main>
    <h1>Cadastro de Categoria</h1>
    <form action="" method="post">
        <label class="label_box_txt" for="">Nome: </label>
        <input class="box_txt" type="text" placeholder="Suspense" name="" id="">
        <button class="btn-cadastrar" type="submit">Cadastrar</button>
    </form>
    
</main>
{% endblock 'conteudo' %}