{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- NORMALIZE -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer"/> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        
   
    <link href="{% static 'global/css/style.css' %}" rel="stylesheet">
    {% block 'head' %} {% endblock 'head' %}
    <title>{% block 'titulo' %} {% endblock 'titulo' %}</title>
</head>
<body class="">
  <header>
    <p>TechFlix</p>
    <nav>
        <ul>
            <li class="menu">
                <div class="menu-1"><a href="{% url 'filme:home' %}">Home</a></div>
                <div class="menu-1"><a href="{% url 'filme:recomendacao' %}">Recomendacao</a></div>
                <div class="menu-1"><a href="{% url 'filme:index' %}">Usuario</a></div>
                <div class="menu-1"><a href="{% url 'filme:filme' %}">Filme</a></div>
                <div class="menu-1"><a href="{% url 'filme:categoria' %}">Categoria</a></div>
            </li>
        </ul>
    </nav>
</header>
    {% block 'conteudo' %} {% endblock 'conteudo' %}
    <footer>
      <p>&copy;Copyright</p>
  </footer>
  </body>
</body>
</html>